.login-logo{
  text-align: center;
  margin: auto;
  right: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  margin-top: 30%;
  margin-bottom: 20%;
  .login_icon{
    width: 110px !important;
  }
  .login_name{
    margin: 10px;
    font-size: 1.7rem;

  }
}
