.headbar{
  width: fit-content;
  padding-left: 10%;
}
.postcard-container {
  display: table;
  position: absolute;
  background-color:#e6efff;
  height: 100%;
  width: 100%;
  background-position: center center;
  margin: auto;
  width: 100%;



}
.textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
ion-card{
  height: 100%;
  width: 90%;

}
#myInput {
  width: 100%;
  border: 0;
  height:fit-content;
  border-radius: 0;
  background: transparent;
}
.postcard {
  text-align: center;
  margin:auto;
  height:100%;



  margin-left: 10%;
  margin-right: 10%;

}
